html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin-bottom: 60px;
    background: url('/images/fondo.jpg') no-repeat center center fixed; 
    background-size: cover; 
    color: #fff; 
    background-attachment: fixed;
}

.navbar {
    padding: 0.75rem 1rem;
}

.nav-link {
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #0056b3;
    }

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
}

    .footer a {
        text-decoration: none;
        color: #0056b3;
    }

        .footer a:hover {
            text-decoration: underline;
            color: #ffc107; /* Cambia a un color amarillo claro al pasar el cursor */
        }


.btn {
    border-radius: 0.375rem;
}

.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(37, 140, 251, 0.5);
}

main {
    padding-top: 1rem;
}

.container {
    max-width: 1200px;
}

.text-primary {
    color: #007bff !important;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

    .btn-primary:hover {
        background-color: #004494;
        border-color: #00376e;
    }

.lead {
    font-size: 1.25rem;
}
